* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  color: #404040;
  line-height: 1.6;
  background-color: #e8e8e8;
}

header {
  display: flex;
  justify-content: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

header {
  box-shadow: 0 4px 2px -2px gray;
}

.container,
.mainForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header a {
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 1em 2em;
  transition: 300ms;
  font-size: 1.1rem;
}

header a:active,
:hover {
  color: #404040;
}

.allCountries {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.country {
  background-color: rgba(255, 255, 255, 0.892);
  padding: 1em;
  height: 250px;
  border-radius: 2em;
  transition: 250ms;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid rgba(148, 145, 145, 0.4);
  border-width: 2px;
}

.country img {
  width: 200px;
  height: 120px;
  margin-bottom: 0;
}

.country:hover {
  background-color: rgba(174, 216, 230, 0.7);
  cursor: pointer;
}

.country h3 {
  font-size: 1.2rem;
  text-decoration: none;
  color: #404040;
  text-align: center;
  margin: 0;
  padding: 0.5em;
}

.countriesContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.universitiesPage,
.favoritedPage {
  display: grid;
  row-gap: 2em;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 3em;
  margin-top: 2em;
}

.university {
  width: 400px;
  background: white;
  padding: 1em;
  border-radius: 0.5em;
  transition: 250ms;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.university h3 {
  width: 90%;
  text-align: center;
}

.university img {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 8%;
  cursor: pointer;
}

.university a {
  color: white;
  padding: 0.5em 1.5em;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  border-radius: 5px;
  transition: 250ms;
}

.university a:hover {
  scale: 1.1;
}

input {
  font-family: inherit;
  text-align: left;
  padding: 0.25em;
  border: 1px solid #404040;
  font-size: 1.2rem;
  border-radius: 0.5em;
  margin-top: 1em;
  width: 250px;
}

.uniWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.uniWrapper form input {
  width: 400px;
}

.fav {
  position: relative;
}

.dot {
  height: 22px;
  width: 22px;
  background-color: rgba(255, 0, 60, 0.802);
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  font-weight: 600;
  font-size: 0.9rem;
  position: absolute;
  top: 17px;
  right: 17px;
}

.dot-gray {
  background-color: rgba(128, 128, 128, 0.888);
}

.favoritedPage {
  max-width: 1200px;
  margin: 1em auto;
}

.error {
  text-align: center;
  grid-column: 2/-2;
}

.noItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.schoolIcon,
.countriesIcon {
  width: 40px;
  height: 40px;
}

.loader-container {
  width: 100%;
  height: 2000px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.834);
}

.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 1250px) {
  .allCountries {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .universitiesPage,
  .favoritedPage {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 950px) {
  .allCountries {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 800px) {
  .universitiesPage,
  .favoritedPage {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .allCountries {
    grid-template-columns: 1fr 1fr;
  }
}
